/* Resetting CSS styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 375px;
  height: 550px;
/*   border: 2px solid black; */
  box-shadow: 5px 4px 15px -2px #2E2E2E;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

#top-section {
  border: 2px solid white;
  height: 65%;
  line-height: 65%;
}

#top-section img {
  display: block;
  vertical-align: middle;
  margin-top: 30px;
  max-height: 85%;
  max-width: 85%;
  border-radius: 10px;
/*   border: 1px solid red; */
  margin-left:auto;
  margin-right: auto;
  width: 100%;
}

#bottom-section {
  border: 2px solid white;
  height: 35%;
  text-align: center;
}

h2, p {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  vertical-align: mmiddle;
}

p {
  opacity: 0.55;
}
